# Database
DB_URL=jdbc:postgresql://localhost:5432/postgres
DB_USERNAME=postgres
DB_PASSWORD=your_database_password

# JWT
JWT_SECRET=your_jwt_secret_here

# Keycloak
KEYCLOAK_ISSUER_URI=http://localhost:9090/realms/event-ticket-platform
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=your_admin_password